<%- include("header") -%> <!--header.ejs inside views folder-->

    <div class="box" id="heading">
        <h1 style="color: purple;"><%= listTitle %></h1>
    </div>

    <div class="box">
        <% for(var i = 0; i < itemList.length; i++) { %>
            <form action="/delete" method="post">
                <div class="item">
                    <input type="checkbox" name="checkbox" value="<%= itemList[i] %>" onChange="this.form.submit()"> <!--send the mongodb _id to the delete route via checkbox-->
                    <p><%= itemList[i].name %></p>
                </div>
                <input type="hidden" name="listName" value="<%= listTitle %>">
            </form>
        <% } %>

        <form class="item" action="/" method="post">
            <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
            <button type="submit" name="list" value="<%= listTitle %>">+</button> <!--using listTitle to distinguish between '/' route and '/work' route-->
        </form>
    </div>

<%- include("footer") -%> <!--footer.ejs inside views folder-->